.container{
    display: grid;
    grid-template-columns: repeat(16, 200px);
}

.item1{
    background-color: blue;
    grid-column-start: 2;
}

.item5{
    background-color: rgb(0, 255, 85);
    grid-column-start: 12;
}

