*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container{
    background-color: aquamarine;
    width: 60%;
    height: 800px;
    margin: auto;
}

.menu{
    background-color: tomato;
    color: white;
    text-align: right;
    font-size: 0;
    list-style-type: none;
}

.menu>li{
    display: inline-block;
    font-size: 18px;
    background: greenyellow;
    padding: 0px 40px;
}

.menu>li:hover{
    background: green;
}

.menu>li>a{
    color: white;
    text-decoration: none;
}

.esquerda{
    background-color: blue;
    /* width: 10%; */
    width: 200px;
    height: 770px;
    float: left;
    text-wrap: wrap;
    font-size: 10px;
}

.direita{
    background-color: green;
    /* width: 10%; */
    width: 200px;
    height: 770px;
    float: right;
    text-wrap: wrap;
    font-size: 10px;
}
.lista{
    list-style-type: none;
    padding: 0;
    padding-left: 120px;
}
h2{
    padding: 10px;
}